---
layout: default
---

<div class="home">
  <h3>Javascript Games:</h3>

  <ul class="post-list game-list">
    <li>
      <span class="post-meta">8 Dec 2014</span>
      <a class="post-link" href="http://karol.io/bloody-mess">Bloody Mess</a>
    </li>
    <li>
      <span class="post-meta">24 Oct 2011</span>
      <a class="post-link" href="http://karol.io/typing-game">Typing Game</a>
    </li>
  </ul>

  <h3>Articles:</h3>

  <ul class="post-list remote-post-list">
    <li>
      <span class="post-meta">11 Aug 2014</span>
      <a class="post-link" href="http://macoscope.com/blog/applications-as-state-machines/#more">Applications as State Machines</a>
    </li>
    <li>
      <span class="post-meta">23 May 2014</span>
      <a class="post-link" href="http://macoscope.com/blog/mvc-layer-interaction-architecture/#more">MVC Layer Interaction Architecture</a>
    </li>
    <li>
      <span class="post-meta">25 Feb 2014</span>
      <a class="post-link" href="http://macoscope.com/blog/calling-blocks-inline/#more">Calling Blocks Inline</a>
    </li>
    <li>
      <span class="post-meta">6 Nov 2013</span>
      <a class="post-link" href="http://macoscope.com/blog/stretchable-images-using-interface-builder/#more">Stretchable Images Using Interface Builder</a>
    </li>
    <li>
      <span class="post-meta">6 Oct 2013</span>
      <a class="post-link" href="http://macoscope.com/blog/the-srcset-attribute/#more">The Srcset Attribute</a>
    </li>
  </ul>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date_to_string }}</span>
	{% if post.external_url %}
          <a class="post-link" href="{{ post.external_url }}">{{ post.title }}</a>
	{% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	{% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
